
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* common utilities  */
.fixed-container{
    width: 1100px;
    margin: auto;
}

/*------------------------------ Navbar Section  -----------------------------------------------*/

.navbar-section{
    background: url(images/banner-bg.png) no-repeat;
    box-sizing: border-box;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top: 5px; 
}

.menubar{
    background: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 15px 30px;
    position: relative; 
    border-radius: 50px;
    z-index: 10;
}
.navbar-right ul{
    display: flex;
}
.navbar-right ul li{
    list-style: none;
    margin-left: 40px;
}
.navbar-right ul li a{
    text-decoration: none;
    color: black;
    letter-spacing: 0.35px;  
}

.banner-details {
    color: white;
    text-align: center;
    margin-top: 100px; 
}
.banner-details h1{
    font-size: 2.5em;
    font-weight: normal;
}
.banner-details a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background: linear-gradient(120deg,#E84033, #d38f3c);
    padding: 15px 25px;
    border-radius: 10px;
    display: inline-block;
}
/*------------------------------ Banner Card starts here  -----------------------------------------------*/
.banner-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px; 
}
.banner-card{
    background: white;
    margin: 20px;
    width: 250px;
    padding: 25px;
    border-radius: 15px; 
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.banner-card span{
    background: #8261EE;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: 0.7s;  
}
.banner-card:hover span{
    background: #E43C2F;
}
/*------------------------------ Banner Card ends here  -----------------------------------------------*/

/*------------------------------ Discussion starts here  -----------------------------------------------*/
.disscuss-section{
    margin-top: 120px; 
}
.discussion{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.discussion .discussion-image{
    width: 50%; 
}
.disscussion-details{
    width: 50%; 
    color: rgb(153, 149, 149);
    font-size: 1.4em; 
    line-height: 35px;
}
.disscuss-section hr{
    margin: 50px 0;
}
.disscussion-details h2{
    color: black;
}
#discussion-image2{
    text-align: right;
}

















/*----------------------- Media Query -----------------------: */
/* For mobile:  */
@media only screen and (max-width:767px){
    .fixed-container{
        width: 98%;
        margin: auto;
    }

    .navbar-right{
        display: none; 
    }
    .menubar{
        width: 90%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .banner-details{
        width: 90%;
        text-align: center; 
        margin: auto;
        margin-top: 30px;  
    }
    .banner-details h1{
        font-size: 1.5em;
        font-weight: normal;
    }

    /* discussion section  */
    .disscuss-section{
        margin-top: 130px; 
    }
    .discussion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .discussion .discussion-image{
        width: 100%; 
        text-align: center;
    }
    .disscussion-details{
        width: 90%; 
        color: rgb(153, 149, 149);
        font-size: 1.4em; 
        line-height: 35px;
    }
    #discussion-image2{
        text-align: center;
    }
    
}


/* For tablet:  */
@media only screen and (min-width:768px) and (max-width:991px) {
    .fixed-container{
        width: 100%;
        margin: auto;
    }
    .menubar{
        width: 95%; 
        background: white;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 5px;
        border-radius: 50px;
        position: relative; 
        z-index: 10;
    }
    .navbar-right{
        width: 100%;
        padding-right: 35px;
    }
    .navbar-right ul li a{
        text-decoration: none;
        color: black;
        letter-spacing: 0px;  
    }
    .navbar-right ul li{
        list-style: none;
        margin-left: 10px;
    }
    .navbar-right ul{
        display: flex;
        justify-content: space-between;
    }
    .banner-details{
        width: 90%;
        text-align: center; 
        margin: auto;
        margin-top: 60px;  
    }

    /* discussion section  */
    .disscuss-section{
        margin-top: 130px; 
    }
    .discussion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .discussion .discussion-image{
        width: 100%; 
        text-align: center;
    }
    .disscussion-details{
        width: 90%; 
        color: rgb(153, 149, 149);
        font-size: 1.4em; 
        text-align: center;
    }
    #discussion-image2{
        text-align: center;
    }

}
